@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image 
{
    background-image: url('/images/cookies.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

/* General Styling */
.text-yellow {
    color: #fbbf24;
}

.bg-yellow {
    background-color: #fbbf24;
}

.bg-yellow-hover:hover {
    background-color: #f59e0b;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.transition {
    transition: all 0.3s ease-in-out;
}